<div class="card-block row mt-3">
    <div class="col-sm-12 col-lg-12 col-xl-12">
        <div class="table responsive">
            <table class="display" id="advance-1">
                <thead class="table-primary">
                    <tr>
                        <th>No.</th>
                        <th (click)="sort('firstName')">Judul Barang</th>
                        <th (click)="sort('lastName')">Jenis Barang</th>
                        <th (click)="sort('address')">Deskripsi</th>
                        <th (click)="sort('state.name')">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers;index as i;trackBy:trackby.customer">
                        <td>{{ i+1 }}</td>
                        <!-- <td><img src="assets/images/{{ customer.gender | lowercase }}.png"
                                class="img-thumbnail" alt="Customer Image" /></td> -->
                        <td><a [routerLink]="['/customers',customer.idBarang]">{{ customer.judul }}</a></td>
                        <td>{{ customer.jenisBarang }}</td>
                        <td>{{ customer.deskripsi }}</td>
                        <!-- <td>{{ customer.state?.name }}</td> -->
                        <td style="text-align:center">
                        <div *ngIf="getStatus(customer.bukaLelang, customer.tutupLelang)==1">
                                <button class="btn btn-pill btn-warning bt-sm" type="button" data-bs-original-title="" title="">
                                Belum Dibuka <br/> <span>{{ customer.bukaLelang }}</span></button>
                        </div>
                        
                        <div *ngIf="getStatus(customer.bukaLelang, customer.tutupLelang)==2">
                            <button class="btn btn-pill btn-danger bt-sm" type="button" data-bs-original-title="" title="">
                            Sudah berakhir <br/> <span>{{ customer.tutupLelang }}</span></button>
                        </div>

                        <div *ngIf="getStatus(customer.bukaLelang, customer.tutupLelang)==3">
                            <button class="btn btn-pill btn-primary bt-sm" type="button" data-bs-original-title="" title="">
                            Sudah Dibuka sampai <br/> <span>{{ customer.tutupLelang }}</span></button>
                    </div>
                        </td>
                    </tr>
                    <tr *ngIf="!customers.length">
                        <td colspan="12" align="center">No Records Found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
