<div class="card-header pb-0">
  <div class="row">
      <div class="col-md-8">
          <div *ngIf="customer.judul;else elseBlock">
            <h5>{{ customer.judul }}</h5><span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
          </div>
          <ng-template #elseBlock><h5>Add New Customer</h5><span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span></ng-template>
          
      </div>
      <div class="col-md-4 ">
          <div class="pull-right mt-2">
              <a [routerLink]="['/customers', '0']" class="btn btn-primary" href="javascript:void(0)" data-bs-original-title="" title=""> <span class="icon-plus"></span> Add New Customer</a>
          </div>
          <!-- <a class="btn btn-default" [routerLink]="['/customers', '0']">Add New Customer</a> -->
      </div>
  </div>
</div>
<div>
  <header>
      <h3>
          <span class="glyphicon glyphicon-user"></span>
          {{ customer.judul }}
      </h3>
  </header>
  <br />
  <form (ngSubmit)="submit()" #customerForm="ngForm" class="editForm" novalidate>
    <div class="form-group">
      <label>Judul</label>
      <input type="text" class="form-control" name="judul" [(ngModel)]="customer.judul" #judul="ngModel" required>
      <div class="alert alert-danger" [hidden]="judul.untouched || judul.valid">Judul Belum Dimasukkan...</div>
    </div>
    <div class="form-group">
      <label>Jenis Barang</label>
      <select class="form-control" name="jenisBarang" [(ngModel)]="customer.jenisBarang" #jenisBarang="ngModel" required>
      <div class="alert alert-danger" [hidden]="jenisBarang.untouched || jenisBarang.valid">Anda Belum Memilih Jenis Barang ...</div>
        <option value="Properti">Properti</option>
        <option value="Properti">Properti</option>
        <option value="Properti">Properti</option>
        <option value="Properti">Properti</option>
        <option value="Properti">Properti</option>
      </select>
    </div>
    <div class="form-group">
      <label>Deskripsi</label>
      <input type="text" class="form-control" name="deskripsi" [(ngModel)]="customer.deskripsi" #deskripsi="ngModel" required>
      <div class="alert alert-danger" [hidden]="deskripsi.untouched || deskripsi.valid">Judul Belum Dimasukkan...</div>
    </div>
    <div class="form-group">
      <label>Tanggal Dibuka Lelang</label>
      <input type="date" class="form-control" name="bukaLelang" [(ngModel)]="customer.bukaLelang" #bukaLelang="ngModel" />
      <div class="alert alert-danger" [hidden]="bukaLelang.untouched || bukaLelang.valid">Email is required and must be valid</div>
    </div>
    <div class="form-group">
      <label>Tanggal Ditutup Lelang</label>
      <input type="date" class="form-control" name="tutupLelang" [(ngModel)]="customer.tutupLelang" #tutupLelang="ngModel" />
      <div class="alert alert-danger" [hidden]="tutupLelang.untouched || tutupLelang.valid">Email is required and must be valid</div>
    </div>
    <br />

    <div *ngIf="customer">
      <div class="alert alert-warning" *ngIf="customer.idBarang && deleteMessageEnabled">
         Delete Customer?&nbsp;&nbsp;<button class="btn btn-danger" (click)="delete($event)">Yes</button>&nbsp;&nbsp;
         <button class="btn btn-default" (click)="deleteMessageEnabled = false">No</button>
      </div>
      <button class="btn btn-danger" *ngIf="customer.idBarang && !deleteMessageEnabled" (click)="deleteMessageEnabled = true">Delete</button>&nbsp;&nbsp;

      <div class="pull-right" *ngIf="!deleteMessageEnabled">
        <button class="btn btn-default" (click)="cancel($event)">Cancel</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-success" [disabled]="!customerForm.valid">{{ operationText }}</button>
      </div>
    </div>
    <br />
    <br />
    <div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>

  </form>
</div>