<div class="card-header pb-0">
  <div class="row">
      <div class="col-md-8">
          <div *ngIf="customer.judul;else elseBlock">
            <h5>{{ customer.judul }}</h5><span>{{ customer.deskripsi }}</span>
          </div>
          <ng-template #elseBlock><h5>Add New Customer</h5><span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span></ng-template>
          
      </div>
  </div>
</div>
<div class="card-body pt-0">
  <br />
  <form [formGroup]="customerForm" (ngSubmit)="submit(customerForm)" class="editForm" novalidate>
    <div class="form-group">
      <label class="form-label" for="judul">Judul</label>
      <input type="text" id="judul" class="form-control" formControlName="judul" placeholder="Judul Barang Lelang" required>
      <div class="invalid-feedback">Harus Mengisi Judul</div>    
    </div>
    <div class="form-group">
      <label class="form-label" for="jenisBarang">Jenis Barang</label>
      <select class="form-control" id="jenisBarang" formControlName="jenisBarang" required="">
        <option value="">-- Jenis Barang Lelang --</option>
        <option value="Properti">Properti</option>
        <option value="Elektronik dan Gadget">Elektronik dan Gadget</option>
        <option value="Mobil">Mobil</option>
        <option value="Motor">Motor</option>
        <option value="Perhiasan">Perhiasan</option>
      </select>
      <div class="invalid-feedback">Jenis Barang Harus Dipilih</div>    
    </div>
    
    <div class="form-group">
      <label class="form-label" for="deskripsi">Deskripsi Barang</label>
      <textarea class="form-control" id="deskripsi" type="text" formControlName="deskripsi" placeholder="Deskripsi Barang" required="">
      </textarea>
        <div class="invalid-feedback">Deskripsi Harus Dimasukkan</div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label class="form-label" for="bukaLelang">Tanggal Dibuka Lelang</label>
        <input class="form-control" id="bukaLelang" type="date" formControlName="bukaLelang" placeholder="Masukkan Tanggal Dimulai Lelang" required="">
        <div class="invalid-feedback">Tanggal Belum Dimasukkan</div>
      </div>
  
      <div class="col-md-6 form-group">
        <label class="form-label" for="tutupLelang">Tanggal Ditutup Lelang</label>
        <input class="form-control" id="tutupLelang" type="date" formControlName="tutupLelang" placeholder="Masukkan Tanggal Ditutup Lelang" required="">
        <div class="invalid-feedback">Tanggal Belum Dimasukkan</div>
      </div>

    </div>
    <br />

    <div *ngIf="customer">
      <div class="alert alert-warning" *ngIf="customer.idBarang && deleteMessageEnabled">
         Delete Customer?&nbsp;&nbsp;<button class="btn btn-danger" (click)="delete($event)">Yes</button>&nbsp;&nbsp;
         <button class="btn btn-default" (click)="deleteMessageEnabled = false">No</button>
      </div>
      <button class="btn btn-danger" *ngIf="customer.idBarang && !deleteMessageEnabled" (click)="deleteMessageEnabled = true">Delete</button>&nbsp;&nbsp;

      <div class="pull-right" *ngIf="!deleteMessageEnabled">
        <button class="btn btn-default" (click)="cancel($event)">Cancel</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-success" [disabled]="!customerForm.valid">{{ operationText }}</button>
      </div>
    </div>
    <br />
    <br />
  </form>
</div>